# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Roslyn cache directories
*.ide/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

#NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a .NET coding addin-in
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings 
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# If using the old MSBuild-Integrated Package Restore, uncomment this:
#!**/packages/repositories.config

# Windows Azure Build Output
csx/
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
*.mdf
*.ldf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes
FakesAssemblies/


### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
6/ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.db-wal
6/ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.db-shm
6/ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.db
6/ConsoleApplication1/.vs/ConsoleApplication1/FileContentIndex/13dbe391-8c7c-400c-9d11-41afc669f69e.vsidx
5/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
5/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj
5/ConsoleApplication1/ConsoleApplication1.sln
5/ConsoleApplication1/.vs/ConsoleApplication1/v17/DocumentLayout.json
5/ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.db
5/ConsoleApplication1/.vs/ConsoleApplication1/FileContentIndex/aa1a5e46-ce75-4cf0-b8a4-5c2884bc5229.vsidx
4/Project1/Project1/Project1.vcxproj.filters
4/Project1/Project1/Project1.vcxproj
4/Project1/Project1.sln
4/Project1/.vs/Project1/v17/DocumentLayout.json
4/Project1/.vs/Project1/v17/Browse.VC.db
4/Project1/.vs/Project1/FileContentIndex/dc18e5bf-88a9-4821-9615-5b356c253c08.vsidx
4/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
4/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj
4/ConsoleApplication1/ConsoleApplication1.sln
4/ConsoleApplication1/.vs/ConsoleApplication1/v17/Solution.VC.db
4/ConsoleApplication1/.vs/ConsoleApplication1/v17/DocumentLayout.json
4/ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.db
4/ConsoleApplication1/.vs/ConsoleApplication1/FileContentIndex/dc8b5370-da4e-4219-a390-99a142ba8bf9.vsidx
4/ConsoleApplication1/.vs/ConsoleApplication1/FileContentIndex/a4dedcdc-9067-47d7-8b06-3c61a06d08a6.vsidx
4/ConsoleApplication1/.vs/ConsoleApplication1/FileContentIndex/27dd672d-f514-4589-a287-15d75038a0fe.vsidx
3/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
3/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj
3/ConsoleApplication1/ConsoleApplication1.sln
3/ConsoleApplication1/.vs/ConsoleApplication1/v17/DocumentLayout.json
3/ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.db
3/ConsoleApplication1/.vs/ConsoleApplication1/FileContentIndex/64c7a934-ccce-4b61-a558-e743a4605253.vsidx
2/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
2/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj
2/ConsoleApplication1/ConsoleApplication1.sln
2/ConsoleApplication1/.vs/ConsoleApplication1/v17/DocumentLayout.json
2/ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.db
2/ConsoleApplication1/.vs/ConsoleApplication1/FileContentIndex/8c21b341-2474-4823-bb69-2846154cf94e.vsidx
